* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div {
  font-size: 16px;
  font-weight: 100;
}
.lastname {
  color: blue;
}

.weatherDay {
  border: 1px solid;
  height: 250px;
}
.weather {
  flex: auto;
}
h1 {
  text-align: center;
}
.city {
  font-weight: 600;
}
div.weather {
  border: 0px;
}
.weatherIcon {
  height: 80px;
  width: 80px;
}
.header {
    width: 75%;

}
.cityInput {
    width:100%;
}
.cityInputDiv {
    width: 20%;
    margin: 0 auto;
}
.cityInputBtn {
    margin-top: 2px;
    width: 100%;
}
map {
    height: 250px;
}