<!DOCTYPE html>
<html ng-app="weatherApp">
<head>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="index.css">

  <title>Weather Forecast</title>
</head>
<body ng-controller="MainController as main">

<div ng-view ng-if="main.showMap" class="map-container">
  <ui-gmap-google-map id="my-map" center='map.center' zoom='map.zoom' events="map.events"></ui-gmap-google-map>
  <button ng-click="main.changeMapSize()">MapSize</button>
</div>

<div class="header center-block" ng-cloak>
  <h1>{{main.count}} day weather forecast for <span class="city">{{city}}</span></h1>

  <div class="cityInputDiv">
    <form ng-submit="main.getDataByCityName()">
      <input class="cityInput" type="text" ng-model="main.cityInput" required/>
      <input class="city-input-button" type="submit" ng-disabled="!main.cityInput">
    </form>
  </div>
</div>
<div class="weather row" ng-cloak>
  <div ng-repeat="day in weather.list" class="weather-day-outer text-center"
       ng-class="($index ? 'col-md-3' : 'col-md-6')">

    <div class="weather-day-inner">
      <div>{{ (day.dt * (1000)) | date:'EEEE, d MMMM'}}</div>
      <div>{{day.temp.max | number : 0}}&deg;C / {{day.temp.min | number : 0}}&deg;C</div>
      <div>Humidity: {{day.humidity}}%</div>
      <div>Weather Description: {{day.weather[0].description | uppercase}}</div>
      <div class="weather-icon">
        <img ng-src="http://openweathermap.org/img/w/{{day.weather[0].icon}}.png" class="weatherIcon">
      </div>
      <div>Wind Speed: {{day.speed | number:0}} m/s {{getDirection(day.deg) | lowercase}}</div>
    </div>
  </div>
</div>
</body>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script src='bower_components/lodash/lodash.min.js'></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src='bower_components/angular-simple-logger/dist/index.js'></script>
<script src='bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>
<script src="all.js"></script>

</html>